
.leftbar  {
    width:170px;
    background:#FFFFFF;
    height: 150px;
    float: left;
}
#logobar {
    float:left;
    text-align:center;
    line-height:30px;
    width:150px;

}
#logo{
    height: 160px;
    width: 200%;
}
#rightbar {
    left: 460px;
    right: 100px;
    position: absolute;
    height: 150px;
    background: #FFFFFF;
    text-align:right;
    padding-top: 55px;
}

.btn-space {
    margin-right: 50px;
}
.btnuser {
    width:130px;
}

@media (max-width: 768px) {
    .btn-responsive {
        padding:2px 4px;
        font-size:80%;
        line-height: 1;
        border-radius:3px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .btn-responsive {
        padding: 4px 9px;
        font-size: 90%;
        line-height: 1.2;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
        .leftbar {
            width:10px;
        }
}
@media (max-width: 768px) {
    .leftbar {
        width:10px;
    }
}


.cookie_btn{
    display: inline;
    margin-left: 15px;
    background-color: #55acee;
    padding: 4px 10px;
    border-radius: 5px;
    color: #FFF;
}

.cookie{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 7px 20px;
    color: #666;
    font-size: 0.9em;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}
.cookie a{
    text-decoration: underline;
}

.cookie a:hover{
    text-decoration: none;
}
.div-center {
    width: 80%;
    margin: auto;
}

ul#myTab {
    display: flex;
    justify-content: center;
}

#myTab > li >a {
    margin-right: 0px;
    line-height: 1.42857143;
    border: 1px solid #39a9dc;
    border-radius: 4px 4px 0 0;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.titre-text {
    margin-top: 60px;
    margin-bottom: 60px;
}

.nav-tabs .myTab> li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff!important;
    cursor: default;
    background-color: #39A9DC;

}



.tab-content {
    display: block;
    border: 1px solid #39a9dc;
    background-color: #ECEDED;
    border-top: white;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#myTab > li.active >a {
    background-color: #39A9DC;
    color: #fff;
}

.clear {clear:both}
#content {
    min-height:400px;
    clear: both;
    margin-top: 60px;
    color: black;
    text-align:center;
}
@media (min-width: 1200px) {
    .footer {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .footer {
        width: 970px;
    }
}
@media (min-width: 768px) {
    .footer {
        width: 750px;
    }
}
.footer{
    padding-right: 9px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    background-color: #777;
    margin-top: 50px;
    /* left: 100%; */
    width: 100%;
}